@font-face {
  font-family: 'Akrobat';
  src: url('Akrobat-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('Akrobat-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}